.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.side-panel {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

.dragme {
  position: relative;
}

aside {
  background-color: slateblue;
  width: 100px;
}

button {
  width: 100px;
}

h1 {
  color: blueviolet;
}
